// NOTICE
.fr-notice.notice-light {
  width: fit-content;
  padding: 0.5rem 0;

  .fr-container {
    width: fit-content;
    padding: 0 0.5rem;

    .fr-notice__body {
      padding: 0 1rem 0 2rem;
    }

    .fr-notice__title {
      font-weight: 400;
    }
  }
}

// BADGE
.fr-badge {
  &.situation-level {
    &-4 {
      color: var(--pink-macaron-main-689);
      background-color: var(--grey-1000-50);
    }

    &-3 {
      color: var(--pink-tuile-sun-425-moon-750);
      background-color: var(--grey-1000-50);
    }

    &-2 {
      color: var(--yellow-tournesol-850-200);
      background-color: var(--grey-1000-50);
    }

    &-1 {
      color: var(--blue-ecume-main-400);
      background-color: var(--grey-1000-50);
    }
  }
}

// STEPPER
.fr-stepper {
  &__steps {
    background-image: repeating-linear-gradient(to right, var(--background-active-blue-france) 0, var(--background-active-blue-france) var(--active-inner), transparent var(--active-inner), transparent var(--active-outer)), repeating-linear-gradient(to right, var(--background-default-grey) 0, var(--background-default-grey) var(--default-inner), transparent var(--default-inner), transparent var(--default-outer));
  }
}

// CALLOUT
.fr-callout {
  background-color: var(--background-contrast-info);
}

// ACCORDION
.fr-accordions-group {
  .fr-accordion {
    &__btn {
      color: var(--text-action-high-blue-france);
    }

    .fr-collapse {
      white-space: pre-wrap;
    }
  }
}

// TABS
.fr-tabs {
  &.tabs-light {
    margin: 0;
    padding: 0;
    box-shadow: none;

    &:before {
      box-shadow: none;
    }

    .fr-tabs__list {
      display: none;
    }

    .fr-tabs__panel {
      padding: 1rem;
    }
  }
}

// SEARCH BAR
.fr-search-bar .fr-input {
  padding-left: 1.5rem;
}

// TAGS
.fr-tag {
  .ov-icon {
    margin: 0;
    margin-right: 0.2rem;
  }
}

button.fr-tag[aria-pressed=true]:not(:disabled) {
  &.no-checkmark {
    background-image: none;
    background-color: var(--background-action-high-blue-france);

    &:after {
      display: none;
    }
  }
}