@import "dsfr";

body {
  height: 100%;
  overflow-x: hidden;
}

.full-width {
  width: 100%;
}

.section-title {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.situation-level-bg {
  &-4 {
    background-color: var(--pink-macaron-925-125);
  }

  &-3 {
    background-color: var(--pink-macaron-950-100);
  }

  &-2 {
    background-color: var(--yellow-tournesol-975-75);
  }

  &-1 {
    background-color: var(--purple-glycine-950-100);
  }
}

.situation-level-c {
  &-4 {
    color: var(--pink-macaron-sun-406-moon-833);
  }

  &-3 {
    color: var(--pink-tuile-sun-425-moon-750);
  }

  &-2 {
    color: var(--yellow-tournesol-sun-407-moon-922);
  }

  &-1 {
    color: var(--blue-ecume-sun-247-moon-675);
  }
}