@import "dsfr";

body {
  height: 100%;
  overflow-x: hidden;
}

.full-width {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.section-title {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.eau-card {
  width: 100%;
  height: 100%;
  border: 1px var(--blue-cumulus-main-526) solid;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: var(--blue-france-sun-113-625);
    line-height: 1.5rem;
  }

  &__desc {
    font-size: 0.9rem;
  }
}

.situation-level-bg {
  &-4 {
    background-color: var(--red-marianne-main-472);
    color: var(--grey-1000-50);
  }

  &-3 {
    background-color: var(--pink-tuile-main-556);
    color: var(--grey-1000-50);
  }

  &-2 {
    background-color: var(--yellow-moutarde-main-679);
    color: var(--grey-1000-50);
  }

  &-1 {
    background-color: var(--green-menthe-main-548);
    color: var(--grey-1000-50);
  }
}

.situation-level-c {
  &-4 {
    color: var(--red-marianne-main-472);
  }

  &-3 {
    color: var(--pink-tuile-main-556);
  }

  &-2 {
    color: var(--yellow-moutarde-main-679);
  }

  &-1 {
    color: var(--green-menthe-main-548);
  }
}

.h2 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;

  @media (min-width: 48em) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.h6 {
  font-weight: 700;
  font-size: 1.125rem;

  @media (min-width: 48em) {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .show-sm {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}